<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insulinpump">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings"
            android:theme="@style/ApTheme"></activity>
        <activity android:name=".graphs"
            android:theme="@style/ApTheme"/>
        <activity android:name=".diet"
            android:theme="@style/ApTheme"/>
        <activity android:name=".profile"
            android:theme="@style/ApTheme"/>
        <activity android:name=".preset"
            android:theme="@style/ApTheme"/>
        <activity android:name=".patient_medication"
            android:theme="@style/ApTheme"/>
        <activity android:name=".pat_signup" />
        <activity android:name=".patient_login" />
        <activity android:name=".patient_details" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".patient_list" />
        <activity android:name=".doc_signup" />
        <activity android:name=".Doc" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>